name: Build Raspberry Pi PXE Image

on:
  push:
    branches:
      - main

env:
  PACKER_VERSION: "1.14.2"
  PACKER_LOG: 1
  PACKER_LOG_PATH: packer.log

jobs:
  build-pxe-image:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Cache Packer plugins
        uses: actions/cache@v3
        with:
          path: ~/.packer.d
          key: ${{ runner.os }}-packer-${{ hashFiles('build.pkr.hcl', 'pi.auto.pkrvars.hcl') }}
          restore-keys: |
            ${{ runner.os }}-packer-

      - name: Cache apt packages
        uses: actions/cache@v3
        with:
          path: /var/cache/apt/archives
          key: ${{ runner.os }}-apt-${{ hashFiles('build.pkr.hcl', 'pi.auto.pkrvars.hcl') }}
          restore-keys: |
            ${{ runner.os }}-apt-

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y qemu-user-static

      - name: Setup Packer
        uses: hashicorp/setup-packer@v3
        with:
          version: ${{ env.PACKER_VERSION }}

      - name: Initialize Packer configuration
        run: sudo packer init .

      - name: Validate Packer config
        run: sudo packer validate \
          -var-file=pi.auto.pkrvars.hcl \
          -var "os_bootstrap_user=${{ secrets.RPI_USERNAME }}" \
          -var "os_bootstrap_password=${{ secrets.RPI_PASSWORD }}" \
          -var "nautobot_password=${{ secrets.RPI_PASSWORD }}" \
          -var "ansible_vault_password=${{ secrets.RPI_PASSWORD }}" \
          -var "luks_keyfile_content=${{ secrets.LUKS_KEYFILE_CONTENT }}" \
          build.pkr.hcl

      - name: Build Packer image
        run: sudo packer build \
          -var-file=pi.auto.pkrvars.hcl \
          -var "os_bootstrap_user=${{ secrets.RPI_USERNAME }}" \
          -var "os_bootstrap_password=${{ secrets.RPI_PASSWORD }}" \
          -var "nautobot_password=${{ secrets.RPI_PASSWORD }}" \
          -var "ansible_vault_password=${{ secrets.RPI_PASSWORD }}" \
          -var "luks_keyfile_content=${{ secrets.LUKS_KEYFILE_CONTENT }}" \
          build.pkr.hcl

      - name: Upload built image artifact
        uses: actions/upload-artifact@v4
        with:
          name: pi-pxe-image
          path: raspios-lite-arm64.img
