name: Build Raspberry Pi PXE Image

on:
  push:
    branches:
      - main

env:
  PACKER_VERSION: "1.14.2"
  PACKER_LOG: 1
  PACKER_LOG_PATH: packer.log

jobs:
  build-pxe-image:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static

      - name: Setup `packer`
        uses: hashicorp/setup-packer@v3
        with:
          version: ${{ env.PACKER_VERSION }}

      # Packer will auto-install plugins declared in build.pkr.hcl
      - name: Init Packer
        run: sudo packer init .

      - name: Validate Packer config
        run: |
          sudo packer validate \
            -var-file=pi.auto.pkrvars.hcl \
            -var "os_bootstrap_user=${{ secrets.RPI_USERNAME }}" \
            -var "os_bootstrap_password=${{ secrets.RPI_PASSWORD }}" \
            -var "nautobot_secret_key=${{ secrets.NAUTOBOT_SECRET_KEY }}" \
            -var "nautobot_password=${{ secrets.NAUTOBOT_PASSWORD }}" \
            -var "ansible_vault_password=${{ secrets.RPI_PASSWORD }}" \
            build.pkr.hcl

      - name: Build image
        run: |
          sudo packer build \
            -var-file=pi.auto.pkrvars.hcl \
            -var "os_bootstrap_user=${{ secrets.RPI_USERNAME }}" \
            -var "os_bootstrap_password=${{ secrets.RPI_PASSWORD }}" \
            -var "nautobot_secret_key=${{ secrets.NAUTOBOT_SECRET_KEY }}" \
            -var "nautobot_password=${{ secrets.NAUTOBOT_PASSWORD }}" \
            -var "ansible_vault_password=${{ secrets.RPI_PASSWORD }}" \
            build.pkr.hcl

      - name: Upload built image
        uses: actions/upload-artifact@v4
        with:
          name: pi-pxe-image
          path: raspios-lite-arm64.img
